/* styles for the ASL widget */

#asl-outer-container{

}

#asl-container{
	background-color:white; 
	width: 240px; 
	height:200px; 
	right:10px; 
	position:fixed; 
	text-align:center; 
	z-index:10; 
	border: 1px solid #666;
}

#asl-container a{
	position:absolute;
	top:2px; 
	right:15px; 
	z-index:20;
}

#asl-load-img{
	position: absolute;
	right:20px;
	top :40px;
	z-index:-1;
}

#asl-iframe{
	margin-right:10px;
	height:180px; 
	width:220px; 
	border:none;
}
